streamlit
fpdf2
PyMuPDF
langchain==0.2.16
langchain-community==0.2.16
langchain-google-genai==1.0.10
faiss-cpu
pydantic
google-generativeai
langchainhub
streamlit-mic-recorder
gTTS
google-cloud-texttospeech
mutagen
